/* ==UserStyle==
@name         Dark DevDocs
@description  A customizable theme for DevDocs.
@namespace    github.com/vednoc/dark-devdocs
@author       vednoc
@version      0.1.0
@homepageURL  https://github.com/vednoc/dark-devdocs
@supportURL   https://github.com/vednoc/dark-devdocs/issues
@updateURL    https://gitlab.com/vednoc/dark-devdocs/raw/master/dd.user.styl
@preprocessor stylus

@var text b_radius "Custom border radius" 4px
@var text ui_font "Custom UI font" "'font_name'"
@var text mono_font "Custom Mono font" "'font_name'"
@var text mono_size "Custom Mono font size" 1em
@var text max_width 'Max-width for content' 700px
@var checkbox invert_ic 'Icons: Invert language logos' 0
@var text fade_img 'Media: Set default opacity' 0.8

@var color _dark    "Dark color.   " #292929
@var color _darken  "Darken color. " #333333
@var color _darker  "Darker color. " #424242
@var color _light   "Light color.  " #e6e6e6
@var color _lighter "Lighter color." #aaaaaa
@var color _icon    "Icon color.   " #e1e1e1
@var color _accent  "Accent color. " #7289da
@var color _yellow  "Yellow color. " #f0c674
@var color _orange  "Orange color. " #de935f
@var color _red     "Red color.    " #a54242
@var color _magenta "Magenta color." #b294bb
@var color _violet  "Violet color. " #85678f
@var color _blue    "Blue color.   " #5f819d
@var color _cyan    "Cyan color.   " #5e8d87
@var color _green   "Green color.  " #8c9440
@var color _white   "White color.  " #ffffff
@var color _shadow  "Shadow color. " #00000020
==/UserStyle== */

// Color mixin.
// All colors: `c: fg bd bg`
// Only border-color: `c: 0 bd`
c(x, y = 0, z = 0, xi = 1, yi = 1, zi = 1) {
    i = !important
    if x is a 'call' or x is a 'rgba' {            color: xi is 0 ? x : x i }
    if y is a 'call' or y is a 'rgba' {     border-color: yi is 0 ? y : y i }
    if z is a 'call' or z is a 'rgba' { background-color: zi is 0 ? z : z i }
}

// SVG mixin.
v(x, y = 0, xi = 1, yi = 1) {
    i = !important
    if x is a 'call' or x is a 'rgba' {   fill: xi is 0 ? x : x i }
    if y is a 'call' or y is a 'rgba' { stroke: yi is 0 ? y : y i }
}

// Rounded corners.
rad() { border-radius: arguments }

// Box-shadow mixin.
b() { box-shadow: arguments }

// Use stylus-lang variables with CSS variables.
bb      = var(--bb)
bg      = var(--dark)
hl      = var(--darken)
bd      = var(--darker)
fg      = var(--light)
cm      = var(--lighter)
ac      = var(--accent)
sh      = var(--shadow)
bsh     = var(--bshadow)
yellow  = var(--yellow)
orange  = var(--orange)
red     = var(--red)
magenta = var(--magenta)
violet  = var(--violet)
blue    = var(--blue)
cyan    = var(--cyan)
green   = var(--green)
white   = var(--white)
t       = var(--t)
r       = var(--radius)
outer   = 0 0 0 1px bd
inner   = inset outer
i       = !important

@-moz-document domain('devdocs.io') {
    :root {
        --bb      : lighten(_dark, -3);
        --dark    : _dark;
        --darken  : _darken;
        --darker  : _darker;
        --light   : _light;
        --lighter : _lighter;
        --accent  : _accent;
        --shadow  : _shadow;
        --yellow  : _yellow;
        --orange  : _orange;
        --red     : _red;
        --magenta : _magenta;
        --violet  : _violet;
        --blue    : _blue;
        --cyan    : _cyan;
        --green   : _green;
        --white   : _white;
        --t       : transparent;
        --bshadow : 0 2px 4px var(--shadow);
        --width   : max_width;
        --radius  : b_radius;

        --ui-font : ui_font, -apple-system, BlinkMacSystemFont, 'San Francisco',
            'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Arial, sans-serif;
        --mo-font : mono_font, 'SFMono-Regular', 'Consolas',
            'Liberation Mono', Menlo, Courier, monospace;
        --mo-size : mono_size;

        --media-opacity: fade_img;

        * { scrollbar-color: var(--accent) #5552 }
    }

    // * Reset.
    body {
        c: cm 0 bb

        * { scrollbar-width: thin }
        ::selection { c: white 0 ac }
        ::-moz-selection { c: white 0 ac }

        // * Feature -> Custom UI font.
        font-family: var(--ui-font);

        table {
            rad: r !important;
            c: 0 bd bg;
            thead {
                tr th {
                    c: fg bd hl;
                    code:not(#z) { c: 0 0 bg }
                    ../ tr:first-child > th:first-child {
                        rad: calc(var(--radius) - 2px) 0 0 0;
                    }
                    ../ tr:first-child > th:last-child {
                        rad: 0 calc(var(--radius) - 2px) 0 0;
                    }
                }
            }
            tbody {
                tr th {
                    c: fg bd hl;
                    code:not(#z) { c: 0 0 bg }
                    ../ tr:first-child > th:first-child {
                        rad: calc(var(--radius) - 2px) 0 0 0;
                    }
                    ../ tr:first-child > th:last-child {
                        rad: 0 calc(var(--radius) - 2px) 0 0;
                    }
                }
                tr td {
                    c: cm bd;
                    /// css/colors
                    &:not([style *= 'background']) { c: 0 0 t }
                    /// Reset code blocks.
                    pre[data-language] { c: 0 0 t }
                    /// css/tables
                    &.bc-supports-no { c: red }
                    &.bc-supports-yes { c: green }
                }
                code { c: fg 0 bd }
                a { c: ac }
            }
            /// css/color
            dl {
                c: fg bd;
                dt, dd { c: 0 0 t }
                .bc-supports-no { c: red }
                .bc-supports-yes { c: green }
            }
        }

        small { c: cm }
        code {
            &._label { c: fg 0 bd }
        }

        pre {
            rad: r;
            c: fg bd hl;
            box-shadow: bsh;

            // * Feature -> Custom Mono font.
            &, ../ code, samp { font-family: var(--mo-font) }

            // * Feature -> Custom font size.
            &, ../ code, samp { font-size: var(--mo-size) }

            &[data-language] {
                font-size: var(--mo-size);
                .token, .comment, .punctuation { c: cm }
                .function { c: red }
                .number { c: violet }
                .operator, .entity, .url { c: yellow }
                .atrule, .attr-value, .keyword { c: blue }
                .property, .tag, .boolean, .constant, .symbol, .deleted { c: orange }
                .selector, .attr-name, .string, .char, .builtin, .inserted { c: green }
                .symbol.atom { c: violet }
            }

            // Clipboard button.
            ._pre-clip {
                opacity: 0;
                display: block;
                transition: 0.15s ease;
                &::before { c: fg }
                > svg { fill: fg }
                ../:hover ._pre-clip { opacity: 0.5 }
            }
        }

        dl {
            &[style] {
                column-rule: 1px solid bd !important;
                c: fg bd bg;
            }
            code {
                rad: 3px;
                padding: 2px !important;
            }
        }

        // * Sidebar -> Overflowing list item.
        ._list-item.clone {
            c: fg 0 hl;
            box-shadow: none;
        }

        // Main -> Landing page.
        ._intro {
            &-message {
                rad: r;
                c: fg bd hl;
                box-shadow: bsh;
                a[href] { c: ac }
            }
            iframe { filter: invert(1) hue-rotate(180deg) }
        }

        // Settings -> Header.
        ._settings ._header { c: fg bd bg }

        // Button groups.
        ._docs-links {
            rad: r;
            c: fg bd bg;
            ._show ~ ._show { c: 0 bd 0 }
        }

        // Feature -> Invert icon colors.
        if ( invert_ic == 1 ) {
            ._list-item::before, ._docs-name::before, ._path-item::before {
                filter: invert(1) grayscale(100%) !important;
            }
        }
    }


    // * Global -> Buttons.
    ._btn {
        transition: 0.15s ease;
        c: fg bd bg 0 0 0;

        &:hover { c: 0 0 hl 0 0 0 }

        &-link {
            c: fg;
            &._reset-btn { c: red }
        }
    }


    // * Sidebar -> Search.
    ._header[role='banner'] {
        width: calc(var(--sidebarWidth) + 7px)
        c: 0 bd bg;

        ._search {
            &-tag { c: fg 0 bd }

            &-input {
                rad: r;
                c: fg bd hl;
                box-shadow: inset bsh;
                &:focus {
                    c: 0 ac;
                    box-shadow: 0 0 1px ac;
                }
            }

            &-clear {
                transition: 0.15s ease;
                svg { fill: cm }
            }
        }

        // Menu.
        ._menu {
            rad: r;
            c: 0 bd bg;
            box-shadow: bsh;
            h1 {
                c: fg bd t;
                a { c: fg }
            }
            &-link {
                c: cm;
                transition: 0.15s ease;
                &:hover { c: fg 0 bd }
            }
        }
    }

    // * Sidebar -> Core.
    ._sidebar[tabindex='-1'] {
        top: 48px i
        padding-top: 0 i
        b: 1px 0 bd i
        c: cm 0 bg

        a { c: ac }

        ._list {
            box-shadow: inset -1px 0 bd;

            &-title {
                c: cm;
                svg { fill: cm }
                &.open-title { c: fg }
            }

            &-item {
                c: fg 0 t;
                box-shadow: inset -1px 0 bg
                &:hover { c : 0 0 hl }

                // List states.
                ../ .focus { c: fg 0 bd }
                ../ .active { c: ac 0 bd }

                // Highlight currently open list.
                ../ > div > ._list-dir.open:not(._icon-c) + ._list-sub {
                    box-shadow: inset 8px 0 hl, inner;
                }

                ._list-arrow {
                    fill: fg;
                    ../.open ._list-arrow { opacity: 1 }
                }

                // Version colors.
                ._list-count { color: inherit }

                // Disabled list items.
                &._list-disabled {
                    c: cm;
                    ^[1]-enable { c: ac }
                }
            }

            &-picker-head {
                background: linear-gradient(0deg, t, bg 75%) !important;
                span { c: fg }
            }

            &-note { c: cm }

            &-pagelink { c: ac }
        }
    }


    // Main -> Static content.
    main[role] > ._static {
        /// 404 error.
        ._error {
            &-title { c: fg }
            &-text { c: cm }
        }
        /// Resets.
        a { c: ac }
        code {
            c: fg 0 hl;
            box-shadow: inner;
        }
        h1::after { c: 0 0 bd }
        h2:not([class ^= '_settings-']) { c: fg bd hl }
        ._note { c: fg green hl }
        ._toc {
            rad: r;
            c: fg bd hl;
        }
        tr:hover > td { c: 0 0 hl }
    }

    // Main -> Docs content.
    main[role] > ._page {
        // Feat -> Max width for content.
        margin: 0 auto;
        max-width: var(--width);
        /// Revision blocks.
        .t-mark,
        .t-mark-rev {
            margin: 0 1px;
            padding: 1px 4px 2px;
            rad: 3px !important;
            c: white 0 green;
            box-shadow: inset 0 0 0 2px sh;
        }
        /// html/iframe
        .obsolete, .deprecated {
            &Header {
                rad: r;
                c: fg red hl;
            }
            &Inline {
                c: white 0 red;
                a { c: fg }
            }
        }
        /// html/applet
        .blockIndicator {
            rad: r;
            &.warning { c: fg red hl }
        }
        /// Code blocks.
        code {
            padding: 2px 4px;
            rad: 3px;
            c: fg 0 hl;
            box-shadow: inner;
        }

        // Links.
        a {
            &[href] {
                c: ac 0 0 0;
                code {
                    &.inline { color: inherit !important }
                    // Reset code within links.
                    ../ > code {
                        font-size: 1em;
                        c: ac;
                    }
                }
                &.srclink {
                    margin-left: auto;
                    font-size: 1rem;
                }
            }
            // External links.
            &[href^='http:'], &[href^='https:'] {
                &::after {
                    c: fg;
                    content: '\1F5D7';
                    width: unset;
                    height: unset;
                    font-size: 1em;
                    background: none;
                    margin: 0 0 0 2px;
                    display: inline-flex;
                }
            }
        }

        p {
            c: fg;

            // Page links.
            &._links {
                ._links-link { c: ac 0 bb }
            }
            > code {
                c: fg 0 hl;
                box-shadow: inner;

                // fish/prevd
                // TODO: Possible removal.
                ../ a[href] > code { font-family: var(--ui-font) }
            }
        }

        li {
            c: fg;
            > code {
                c: fg 0 hl;
                box-shadow: inner;
            }
        }
        /// Headings.
        h1 {
            font-size: 2.2em;
            c: fg;
            > code { font-size: 0.75em }
            &::before { margin-right: 3px }
            &::after { c: 0 0 bd }
        }
        h2 {
            margin-bottom: 1rem;
            padding: 0.5em 0;
            font-size: 2.0em;
            c: fg t t;
            box-shadow: inset 0 -1px bd;
            > code { font-size: 0.75em }
            // clojure/core
            span { c: cm }
        }
        h3 {
            padding: 0.25em 0;
            font-size: 1.8em;
            c: fg t t;
            box-shadow: inset 0 -1px bd;
            > code { font-size: 0.75em }
            // Types.
            > span { c: yellow }
        }
        h4 {
            font-size: 1.4em;
            padding: 0.25em 0;
            c: fg t t;
            box-shadow: inset 0 -1px bd;
            > code { font-size: 0.75em }
        }
        /// Headings -> Reset.
        for i in 1..6 {
            h{i} {
                display: flex;
                align-items: center;
                margin-left: 0;
                rad: 0;
                &::before {
                    margin-right: 0.25em;
                    font-size: 0.75em;
                    font-family: var(--mo-font);
                    opacity: 0.8;
                    c: cm;
                }
            }
        }
        h1, h2, h3, h4, h5, h6 {
            sup { margin-top: -0.5em }
            sub { margin-bottom: -0.5em }
            a, .type { margin-left: auto }
            code { margin: 0 0.25em }
        }
        h1::before {
            c: 0;
            content: '1 – ';
        }
        h2::before {
            c: green;
            content: '2 – ';
        }
        h3::before {
            c: blue;
            content: '3 – ';
        }
        h4::before {
            c: orange;
            content: '4 – ';
        }
        h5::before {
            c: magenta;
            content: '5 – ';
        }
        h6::before {
            c: red;
            content: '6 – ';
        }

        blockquote, .important-traits, .tip, div.information {
            rad: r;
            c: fg orange hl
            pre { c: 0 0 bg }
        }
        .note {
            rad: r;
            c: fg green bd;
        }

        /// css/column-gap -> Flex layout experimental.
        .indicator-warning { c: fg orange hl }
        // Callouts.
        .doc-box {
            rad: r;
            &.doc-info { c: fg blue bg }
            &.doc-notice { c: fg yellow bg }
        }

        ._toc {
            rad: r;
            c: fg bd bg;
        }

        ._shortcut {
            &-code { c: fg 0 bd }
        }

        ._note {
            rad: r;
            &:not([id]) { c: fg orange bg }
            ._label { c: fg 0 bg }
            &-green { c: green green bd }
        }

        /// Feat -> Set default media opacity.
        if (fade_img != 1) {
            img, video, iframe {
                transition: opacity 0.3s ease-in-out
                opacity: var(--media-opacity)
                &:hover { opacity: 1 }
            }
        }
    }


    // * Main -> Core.
    ._app[role='application'] {

        // Notice.
        ._notice {
            c: cm 0 bg;
            box-shadow: 0 -1px bd;
            a[href] { c: ac }
            code { c: fg }
        }

        // Breadcrumbs.
        ._path {
            left: calc(var(--sidebarWidth) + 7px)
            c: 0 0 bg;
            box-shadow: inset 0 1px bd;
            span:last-child { c: fg }
            &-arrow { fill: cm }
            &-item { c: cm }
        }

        // Resize the sidebar.
        > ._resizer {
            top: 0;
            bottom: 0;
            width: 8px;
            margin-left: -8px;
            c: 0 0 bd;
            opacity: 0;
        }

        // Credits.
        ._attribution {
            &-p {
                rad: r;
                b: inner
                c: fg 0 bg
            }
            &-link { c: ac }
        }

        // News page.
        ._news {
            &-row { c: cm }
            &-title { c: fg }
        }
    }
}
